$black-gradient: radial-gradient(
  98.96% 98.96% at 50% 0%,
  #232a34 0%,
  #181e27 100%
);

$dark-blue: #262e38;
$pure-white: #ffffff;
$light-gray: #969fad;
$medium-gray: #7c8798;
$orange: #fc7614;
